<h2>Your Todo List</h2>

<p *ngIf="message" style="color: green;">{{ message }}</p>

<input
  type="text"
  [(ngModel)]="searchTerm"
  (ngModelChange)="onSearchChange()"
  placeholder="Search"
  style="margin-bottom: 10px; width: 40%; padding: 5px;"
/>



<select [(ngModel)]="selectedSort" (change)="applySort()">
  <option value="">No Sorting</option>
  <option value="priority">Priority(High ->Low)</option>
  <option value="status">Status(Pending -> Complete )</option>
</select>


<div class="form-section">
  <input type="text" [(ngModel)]="taskTitle" placeholder="Task Title" />

  <select [(ngModel)]="priority">
    <option value="High">High</option>
    <option value="Medium">Medium</option>
    <option value="Low">Low</option>
  </select>
  

 

<select [(ngModel)]="status">
  <option value="Pending">Pending</option>
  <option value="Complete">Complete</option>
  <option value="In Progress">In Progress</option>
</select>






  <button *ngIf="!isEditing" (click)="addTodo()">Add Task</button>
  <button *ngIf="isEditing" (click)="updateTodo()">Update Task</button>
  <button *ngIf="isEditing" (click)="cancelEdit()">Cancel</button>
</div>


<br><br>

<select [(ngModel)]="filterStatus" (change)="applyFilters()">
  <option value="">All Status</option>
  <option value="Pending">Pending</option>
  <option value="Complete">Complete</option>
  <option value="In Progress">In Progress</option>
</select>

<select [(ngModel)]="filterPriority" (change)="applyFilters()">
  <option value="">All Priority</option>
  <option value="High">High</option>
  <option value="Medium">Medium</option>
  <option value="Low">Low</option>
</select>

<ul class="todo-list">
  <li *ngFor="let todo of todos">

    <strong>{{ todo.taskTitle }}</strong> - Priority: {{ todo.priority }} | Status: {{ todo.status }}
    <button (click)="openEditModal(todo)">Edit</button>
    <button (click)="deleteTodo(todo._id)">Delete</button>
  </li>
</ul>


<app-pagination
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  (pageChange)="loadTodos($event)">
</app-pagination>







<button (click)="logout()">Logout</button>